*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    overflow-x: hidden;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background: #060922;
    background-size: 100% auto;
    height: 100%;
    max-width: 1920px;
}

.cont{
    background-image: url("./backk.svg");
    background-repeat: repeat;
    background-size: 100% auto;
    height: 100%;
}

.header{
    box-sizing: border-box;
    width: 1920px;
    height: 100px;
    padding: 30px 352px;
    display: inline-flex;
    flex-direction: row;
}

.main{
    width: 1920px;
    height: 4202px;
    padding-left: 352px;
    box-sizing: border-box;
    padding-right: 352px;
}

.timee{
    display: inline-flex;
    flex-direction: row;
}

.datee{
    padding-left: 10px;
}

.social{
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

.title_text{
    background: linear-gradient(90deg, #09AFF4 0%, #5C35CB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title_block{
    width: 100%;
    height: 350px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagetitle{
    text-align: center;
    width: 100%;
}

.about{
    width: 770px;
    height: 324px;
    color: white;
    font-size: 24px;
    line-height: 150.547%;
    text-align: left;
    letter-spacing: normal;
    position: relative;
    justify-content: center;
}
.about_text{
    color: #09AFF4;
}

.about_text:hover{
    color: #004DCD;
    transition: 1s ease-in-out;
}


.main_text{
    margin-top: 10px;
    position: relative;
    width: 1020px;
}

.aboutinfo{
    height: 530px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    margin-top: 40px;
}

.title{
    margin: 20px 0;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
}

.description{
    padding: 10px 30px 0 0;
    font-size: 24px;
    font-style: normal;
    line-height: 139.781%; /* 33.547px */
}

.garantee{
    width: 100%;
    height: 337px;
    display: flex;
    flex-direction: row;
}

.garantee_item{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    height: 327px;
    width: 32%;
    justify-content: space-between;
    margin: 0 10px;
}

.garantee_title{
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
}

.garantee_container{
    width: 99%;
    height: 275px;
    border-radius: 20px;
    border: 2px solid #09AFF4;
    background: linear-gradient(116deg, rgba(0, 88, 138, 0.28) 0%, rgba(0, 67, 104, 0.00) 108.45%);
    backdrop-filter: blur(19.549999237060547px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.garantee_description{
    position: absolute;
    padding: 47px 27px;
    font-size: 24px;
    font-style: normal;
    line-height: 148.3%;
    text-align: center;
}

.garantee_description span{
    color: #09AFF4;
}

.title1{
    margin: 60px 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.person_block{
    height: 521px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.achivements{
    height: 806px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.achivements_item{
    margin-bottom: 60px;
    height: 373px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.achivements_item_title{
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 40px;
}

.achivements_item_content{
    height: 301px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.achivements_img{
    width: 432px;
    height:301px;
}

.achivements_text{
    width: 784px;
    height: 301px;
    display: flex;
    flex-direction: column;
}

.achivements_text_text {
    padding-bottom: 20px;
    padding-left: 40px;
    width: 603px;
    font-size: 24px;
}

.achivements_text_text span{
    color: #09AFF4;
}

.blueButton{
    display: flex;
    padding: 13px 30px 13px 31px;
    justify-content: center;
    align-items: center;
    border-radius: 14px 0;
    background-color: #09AFF4;
    width: 228px;
    height: 50px;
    float: right;
    margin-top: 20px;
    margin-left: 360px;
    /*position: initial;*/
}

.blueButton:hover{
    background-color: #5d91dc;
    transition: 1s ease-in;
}

.blueButton_text{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.joinus{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.button4{
    border-radius: 20px 0;
    width: 288px;
    height: 60px;
    background-color: #09AFF4;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: white;
}

.button4:hover{
    background-color: #5d91dc;
    transition: 1s ease-in;
}

.big_input{
    width: 392px;
    height: 137px;
    padding: 18px 40px 71px 40px;
    border-radius: 20px;
    border: 1px solid #09AFF4;
    box-sizing: border-box;
    background-color: #060922;
    font-weight: 300;
    display: block;
    color: #ffffff;
}

.big_input::placeholder{
    font-size: 16px;
}

.question_block{
    margin-top: 180px;
    height: 330px;
    width: 519px;
    display: flex;
    flex-direction: column;
}

.question_title{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.question_block_text{
    display: inline-flex;
    flex-direction: row;
    padding-bottom: 40px;
}

.link{
    color: #ffffff;
}

.link:hover{
    color: lightgrey;
}

.social1{
    height: 36px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 40px 0;
    margin-bottom: 40px;
}

/*a{*/
/*    text-decoration: none;*/
/*}*/

/*a:hover{*/
/*    color: darkgrey;*/
/*}*/

h1 {
    color:white;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 55px;
}
/*h2 {*/
/*    font-size: 48px;*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*    color: white;*/
/*    margin-top: 0;*/
/*}*/